<br><br>

<p>A single card reading can be an easy way to start the day. It can also be a learning tool, to start learning the deck. Whatver the cards have to reveal to you, just spend a moment on the imagery and meaning. Below is a tarot card, along with NASA's picture of the day. By considering the juxtapostion of these two cards together we can contemplate our place in it all.</p>
<br>

<div class="well">
  <%= image_tag("tarots2.jpg", :alt => "psychic", :class => "style_image") %>
</div>



<div id="one-a-day">
  <div class="row">
    <div class="col s6">
      <h3>Tech Tarot</h3>
      <h4>Card of the Day</h4>
      <p><strong><%= link_to @card.card_name, card_path(@card) %></strong></p>
      <p><%= image_tag @card.image.url(:medium) %></p>
      <br>
      <div id="card_info"></div>
    </div>
    <div class="col s6">
      <h3><%= link_to "NASA", "https://apod.nasa.gov/apod/astropix.html", :target => "_blank" %></h3>
      <h4>Photo of the Day</h4>
      <h6><%= @nasa_info["date"] %> <%= @nasa_info["title"] %></h6>
      <%= image_tag @nasa_info["url"], :id => "nasa_image" %>
      <br><br>
      <div id="nasa_info"></div>
  </div>
</div>
<%= button_to "Descriptions", { :action => "new" }, :method => :get, remote: true  %>


<br><br><br><br><br><br><br>
