<div id="major-cards">

<h1> Major Cards </h1>
  <p>Each card carries a perspective.</p>
  <% @arcana_major.each do |card| %>
      <%= link_to image_tag(card.image.url(:medium)), card_path(card) %>
  <% end %>
</div>
<br><br><br><br><br>

<div id="minor-cards">
  <h1> Minor Cards </h1>

  <h4>GOOGLE</h4>
    <% @google_minor.each do |card| %>
        <%= link_to image_tag(card.image.url(:thumb)), card_path(card) %>
    <% end %>
    <br>
  <h4>AMAZON</h4>
    <% @amazon_minor.each do |card| %>
        <%= link_to image_tag(card.image.url(:thumb)), card_path(card) %>
    <% end %>
    <br>
  <h4>MICROSOFT</h4>
    <% @microsoft_minor.each do |card| %>
        <%= link_to image_tag(card.image.url(:thumb)), card_path(card) %>
    <% end %>
    <br>
  <h4>ORACLE</h4>
    <% @oracle_minor.each do |card| %>
        <%= link_to image_tag(card.image.url(:thumb)), card_path(card) %>
    <% end %>
    <br><br><br><br><br>
</div>
