<div id="enter_btn">
  <%= button_to "Enter Site", { :action => "index" }, :method => :get, remote: true  %>
</div>
<div id="candle_gif">
  <%= image_tag("giphy.gif", :alt => "candle_gif", :id => "gif") %>
</div>
<br><br>
<div class="row" id="deck_show">
  <div class="col s12">
    <div id="cards-home">
    <% @cards.each do |card| %>
       <%= link_to image_tag(card.image.url(:thumb)), card_path(card) %>
    <% end %>
    </div>
  </div>
</div>

<div class="container" id="search_bar">
  <div>
    <%= form_tag(search_page_path, :method => "get",
          class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
        <div id="btn">
          <%= button_tag "Card search", :class => 'btn',:name => nil%>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br><br>
<div class="well" id="ornament_pic">
  <%= image_tag("ornament.png", :alt => "psychic", :id => "filigree_image") %>
</div>
<br><br><br><br>
