<h1><%= @card.card_name %></h1>
<h6><%= @card.card_content %></h6>
<h6><%= @card.suit %></h6>
<h6><%= @card.arcana %></h6>
<h6><%= image_tag @card.image.url(:medium) %></h6>

<p><%= link_to "Return Home", cards_path %></p>

<p><%= link_to "Edit", edit_card_path(@card) %></p>
<p><%= link_to "Delete", card_path(@card),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
