<nav>
    <div class="nav-wrapper">
      <li class="brand-logo center" id="logo-center" ><%= link_to 'TECH TAROT', root_path %></li>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to 'Arcana', majors_path %></li>
        <li><%= link_to 'Card of the Day', nasas_path %></li>

      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Clarity Reading', readings_path %></li>
        <li><%= link_to 'Articles', article_path %></li>
      </ul>
      <p id="sign-in" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
        <%= link_to 'My Account', edit_user_registration_path %> |
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
        <%= link_to 'Login', new_user_session_path %> |
        <%= link_to 'Register', new_user_registration_path %>
        <% end %>
      </p>
    </div>
  </nav>
